@import "../../assets/scss/color.scss";

#loader-content {
  display: grid;
  height: 100vh;
  place-items: center;
  background-color: $default-black-dark;

  .sweet-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}