// main colors

$default-black: #2b2b2b;
$default-black-light: #313131;
$default-black-dark: #242424;
$default-blue: #006CBE;
$default-light-green: #40c463;
$default-dark-green: #30a14e;
$default-gray: #bdbdbd;
$default-light: #edf5fc;
$white: #ffffff;

// Functions

@function transparency($color, $percentage) {
	@return mix(white, $color, $percentage);
}

@mixin random-color() {
	color: rgb(random(255), random(255), random(255));
}
