@import "~bootstrap/scss/bootstrap";
@import "./variables.scss";
@import "./fonts.scss";

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

// scrollbar styles
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb-hover);
}

body {
  font-family: "Inter";
  box-shadow: none;
  outline: none;
  color: var(--color-default-font);
  background-color: var(--color-default-background);
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

//padding for page content
.content-padding {
  padding: 5px 10px 5px 10px;
}

.card {
  border: 0 transparent;
  border-radius: 10px;
  padding: 15px 18px;
  border: 1px;
  border-radius: 10px;
  background-color: var(--color-card-background);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-card-background-hover);
  }
}
