@import "../../assets/scss/variables.scss";

#error-content {
  display: grid;
  height: 100vh;
  place-items: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
