@import "../../assets/scss/variables.scss";

.dashboard-content {
  min-height: 100vh;
  padding: 30px 30px 5px;

  hr {
    margin: 5px 0 15px;
    border-color: var(--color-hr) !important;
  }

  .dash-card {
    height: 160px;
    margin: 10px 0;
    padding: 15px 18px;

    .stats {
      height: 85px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .title {
        height: 20px;
        font-size: 15px;
        margin: 0;
      }

      .value {
        height: 70px;
        font-size: 50px;
        font-weight: bold;
        margin: 0;
        margin-left: auto;
      }
    }

    .details {
      font-size: 14px;
    }
  }

  .statistics {
    margin-top: 25px;

    .stat-card {
      margin: 20px 0;
      padding: 15px 18px 12px;

      &:hover {
        background-color: var(--color-card-background);
      }

      p {
        margin-left: 10px;
        font-size: 20px;
        font-weight: bold;
      }

      hr {
        margin: 0;
      }

      .details {
        height: 45px;
        display: flex;
        margin: 5px 0;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;

        &:hover {
          background-color: var(--color-card-item-hover);
        }

        .state {
          display: block;
          text-align: center;
          font-size: 15px;
          padding: 3px 10px;
          margin-right: 5px;
          border-radius: 5px;
          color: $white;
        }

        .open {
          background-color: $open;
        }

        .closed {
          background-color: $closed;
        }

        .merged {
          background-color: $merged;
        }

        .number {
          font-size: 25px;
          font-weight: bold;
          color: var(--color-gh-number);
        }

        .name {
          font-size: 18px;
          font-weight: bold;
          color: var(--color-gh-number);
        }

        .fa {
          color: $gray !important;
        }

        .participant-img {
          width: 20px;
          height: 20px;
          border-radius: 100%;
          margin-right: 5px;
        }
      }
    }
  }
}
