@import "../../assets/scss/variables.scss";

.header-content {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  padding: 20px 38px 20px 20px;
  background-color: var(--color-header-background);

  .logo {
    height: 20px;
    margin-right: 40px;
    padding: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo-title {
      font-size: 26px;
      font-weight: bold;
      color: var(--color-default-font);
      margin-left: 15px;

      .version {
        font-size: 8px;
        margin-left: 8px;
        margin-bottom: auto;
      }
    }
  }

  .search {
    .search-input {
      width: 315px;
      height: 40px;
      border-radius: 8px;
      padding: 0 15px;
      color: var(--color-default-font);
      background-color: var(--color-header-button-background);
      border: none;

      &:focus {
        outline: none;
      }

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        height: 1em;
        width: 1em;
        border-radius: 50em;
        background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
        background-size: contain;
        opacity: 0.5;
        pointer-events: none;
        filter: invert(0);
      }

      &:focus::-webkit-search-cancel-button {
        opacity: 0.3;
        pointer-events: all;
      }
    }

    .search-btn {
      width: 60px;
      height: 40px;
      margin-left: 15px;
      border-radius: 8px;
      font-weight: bold;
      color: var(--color-default-font);
      background-color: var(--color-header-button-background);

      &:hover {
        background-color: var(--color-header-button-hover);
      }

      &:all {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }
  }

  .search-filter {
    margin: 0 auto;
  }

  .toggle-mode {
    display: flex;
    align-items: center;

    .mode-icon {
      height: 40px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 8px;
      color: var(--color-default-font);
      cursor: pointer;
      background-color: var(--color-header-button-background);

      &:hover {
        background-color: var(--color-header-button-hover);
      }
    }
  }
}
