@import "../../assets/scss/color.scss";

.profile-content {
  min-height: 100vh;
  padding: 40px 30px 10px;
  color: $white;
  background-color: $default-black-dark;

  .profile-cover {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $default-black;
    position: relative;
    transition: all 0.5s;

    &:hover {
      background-color: $default-black-light;
    }

    .cloud {
      list-style: none;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: absolute;
      bottom: 0px;
      overflow: hidden;
      line-height: 2.5rem;

      span[data-weight="1"] {
        --size: 1;
      }
      span[data-weight="2"] {
        --size: 2;
      }
      span[data-weight="3"] {
        --size: 3;
      }
      span[data-weight="4"] {
        --size: 4;
      }
      span[data-weight="5"] {
        --size: 5;
      }
      span[data-weight="6"] {
        --size: 6;
      }
      span[data-weight="7"] {
        --size: 7;
      }
      span[data-weight="8"] {
        --size: 8;
      }
      span[data-weight="9"] {
        --size: 9;
      }

      span {
        text-decoration: none;
        position: relative;
        padding: auto 5px;
        margin: 0 5px;
        border-radius: 10px;
        font-size: calc(var(--size) * 6px);
        color: transparency($white, 70);
        opacity: calc((19 - (9 - var(--size))) / 19);
        transition: all 0.5s;
        cursor: pointer;
        --size: attr(data-weight number, 2);

        &:hover {
          color: $white;
          opacity: 1;
        }
      }
    }
  }

  .avatar-img {
    height: 150px;
    width: 150px;
    margin-top: -100px;
    border: 10px solid $white;
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
  }

  .name {
    font-weight: bold;
  }

  .bio {
    width: 100%;
    margin-top: 15px;
    color: $default-gray;
    text-align: center;
    padding: 0 25%;
    opacity: 0.5;
  }

  .user-details {
    height: 85px;
    max-width: 80%;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $default-black;
    border-radius: 10px;
    transition: all 0.5s;

    &:hover {
      background-color: $default-black-light;
    }

    .stats {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .number{
        font-size: 22px;
      }
    }

    .github-icon {
      margin-right: 5px;

      .gh-icon {
        fill: $white;
      }
    }
  }

  .top-repositories {
    .repo-card {
      min-height: 165px;
      margin: 15px 0;
      padding: 15px 18px;
      border: 1px;
      border-radius: 8px;
      background-color: $default-black;
      transition: all 0.5s;

      .details {
        display: flex;
        align-items: center;

        .title {
          font-weight: bold !important;
          margin-bottom: 0;
          margin-right: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .fa-lock {
          color: $default-gray;
        }

        .forked {
          color: $default-gray;
          font-size: 12px;
          margin-left: auto;
          padding: 3px 5px;
          border-radius: 5px;
          background-color: $default-black-dark;
        }
      }

      .text-owner {
        font-size: 15px;
        margin-top: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .languages {
        margin: 5px 0 !important;
        white-space: nowrap;
        overflow-x: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        span {
          color: $default-light;
          font-size: 12px;
          padding: 3px 5px;
          margin-right: 5px;
          border-radius: 5px;
        }
      }

      .text-secondary {
        font-style: italic;
      }

      .description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .meta {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text-muted {
          font-size: 12px;
        }

        .collaborators {
          margin: 0;
          white-space: nowrap;
          overflow-x: scroll;

          &::-webkit-scrollbar {
            display: none;
          }

          .text-muted {
            font-size: 12px;
            margin-right: 5px;
          }

          .collaborator-img {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            margin-right: 5px;
          }
        }
      }

      &:hover {
        background-color: $default-black-light;
      }
    }
  }
}
