@import "../../assets/scss/color.scss";

#about-content {
    display: grid;
    height: 100vh;
    overflow: hidden;
    place-items: center;
    color: $white;
    background-color: $default-black-dark;

    a{
        text-decoration: none;
        color: #e000a8;
    }

    .main {
        margin: auto;
        height: 400px;
        width: 350px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .badges {
            display: flex;
            flex-direction: row;

            img {
                margin-right: 10px;
            }
        }
    }
}
