@import "../../assets/scss/color.scss";

.sidebar {
	height: 100%;
	width: 215px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	background-color: $default-black;
	// transition: all 0.2s;

	.nav-list {
		list-style: none;
		margin-top: 20px;
		padding: 0 12px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		.logo {
			margin-bottom: 50px;
			color: $white;
			display: flex;

			.logo-title {
				font-size: 26px;
				font-weight: bold;
				color: $white;
				margin-left: 15px;

				.version {
					font-size: 10px;
					margin-left: 8px;
					margin-bottom: auto;
				}
			}
		}

		.item,
		.github {
			height: 50px;
			width: 190px;
			margin: 5px 0;
			font-size: 20px;
			color: $default-gray;
			border-radius: 10px;
			padding: 10px 12px;
			background-color: $default-black;
			cursor: pointer;
			transition: 0.2s all;

			a {
				color: $default-gray;
				display: block;
			}

			.nav-title {
				margin: 0 15px;
				font-size: 18px;
				cursor: pointer;
			}

			&:hover,
			&.active {
				background-color: $default-black-light;

				a {
					color: $white !important;
				}
			}
		}

		.github {
			font-size: 20px;
			position: absolute;
			bottom: 20px;

			.item-data {
				color: $default-gray;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.sidebar {
		width: 70px;

		.nav-list {
			margin-top: 22px;

			.logo {
				margin-bottom: 58px;
			}

			.item,
			.github {
				width: 48px !important;
			}

			.nav-title,
			.logo-title,
			.version {
				display: none;
			}
		}
	}
}
