@import "../../assets/scss/variables.scss";

.sidebar {
  height: 100%;
  width: 215px;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  background-color: var(--color-sidebar-background);

  .nav-list {
    list-style: none;
    margin-top: 35px;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .item,
    .github {
      height: 50px;
      width: 190px;
      margin: 5px 0;
      font-size: 20px;
      color: var(--color-default-font);
      border-radius: 10px;
      padding: 10px 12px;
      cursor: pointer;

      .nav-title {
        margin: 0 15px;
        font-size: 18px;
        cursor: pointer;
      }

      &:hover,
      &.active {
        background-color: var(--color-sidebar-nav-active);
      }
    }

    .github {
      font-size: 20px;
      position: absolute;
      bottom: 100px;

      .item-data {
        color: $gray;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .sidebar {
    width: 70px;

    .nav-list {
      margin-top: 22px;

      .logo {
        margin-bottom: 58px;
      }

      .item,
      .github {
        width: 48px !important;
      }

      .nav-title,
      .logo-title,
      .version {
        display: none;
      }
    }
  }
}
