@import "../../assets/scss/variables.scss";

.main-content {
  height: 100vh;
  margin-left: 210px;
  padding-top: 70px;
  background-color: var(--color-default-background);
}

@media screen and (max-width: 1200px) {
  .main-content {
    margin-left: 70px;
  }
}
