@import "~bootstrap/scss/bootstrap";
@import "./assets/scss/color";
@import "./assets/scss/fonts";

a {
  text-decoration: none;
}

// scrollbar styles
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $default-black-dark;
}

::-webkit-scrollbar-thumb {
  background: transparency($default-black-dark, 20);
}

::-webkit-scrollbar-thumb:hover {
  background: $default-black-light;
}

body {
  font-family: "Inter";
  box-shadow: none;
  outline: none;
}

//padding for page content
.content-padding {
  padding: 5px 10px 5px 10px;
}
