@import "../../assets/scss/color.scss";

#login-content {
	display: grid;
	height: 100vh;
	place-items: center;
	background-color: $default-black-dark;

	.main {
		height: 400px;
		width: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		border: 1px solid $default-black;
		border-radius: 10px;
		background-color: $default-black;
		transition: all 0.2s;

		&:hover{
			background-color: $default-black-light;
		}

		.login-btn{
			color: $white;
			background-color: $default-light-green;
			transition: all 0.2s;

			&:hover{
				background-color: $default-dark-green;
			}
		}
	}
}
